<div class="publicacion">
    <form class="form" [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
        <div class="encabezado">
            <h2 class="color-gray">Crear Publicación</h2>
            <svg class="ayuda" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px">
                <path
                    d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.833,256-256S397.167,0,256,0z M245.333,426.667    c-17.646,0-32-14.354-32-32s14.354-32,32-32c17.646,0,32,14.354,32,32S262.979,426.667,245.333,426.667z M277.333,296.542v34.125    c0,5.896-4.771,10.667-10.667,10.667H224c-5.896,0-10.667-4.771-10.667-10.667v-53.333c0-23.521,19.146-42.667,42.667-42.667    s42.667-19.146,42.667-42.667S279.521,149.333,256,149.333S213.333,168.479,213.333,192v10.667    c0,5.896-4.771,10.667-10.667,10.667H160c-5.896,0-10.667-4.771-10.667-10.667V192c0-58.813,47.854-106.667,106.667-106.667    S362.667,133.188,362.667,192C362.667,243.188,326.604,286.563,277.333,296.542z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#3498DB" />
            </svg>
        </div>

        <div class="full-container" [ngClass]="{'color-red': errorMsg}" *ngIf="infoMsg">
            {{infoMsg}}
        </div>


        <div class="titulo full-container">
            <input type="text" id="titulo" name="titulo" placeholder="Título*"
                [ngClass]="{'border-red': (submitted && f.titulo.errors && f.titulo.errors.required)}"
                formControlName="titulo" required>
        </div>

        <div class="seccion full-container">
            <span class="placeholder" *ngIf="!f.seccion.value">Selecciona una sección</span>
            <select id="Sección" [ngClass]="{'border-red': (submitted && f.seccion.errors && f.seccion.errors.required)}"
            formControlName="seccion" required value="--Select--">
                <option style="display:none;" selected>Sección*</option>
                <option value="general">General</option>
                <option value="cultular">Cultural</option>
            </select>
            <svg class="ayuda" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px">
                <path
                    d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.833,256-256S397.167,0,256,0z M245.333,426.667    c-17.646,0-32-14.354-32-32s14.354-32,32-32c17.646,0,32,14.354,32,32S262.979,426.667,245.333,426.667z M277.333,296.542v34.125    c0,5.896-4.771,10.667-10.667,10.667H224c-5.896,0-10.667-4.771-10.667-10.667v-53.333c0-23.521,19.146-42.667,42.667-42.667    s42.667-19.146,42.667-42.667S279.521,149.333,256,149.333S213.333,168.479,213.333,192v10.667    c0,5.896-4.771,10.667-10.667,10.667H160c-5.896,0-10.667-4.771-10.667-10.667V192c0-58.813,47.854-106.667,106.667-106.667    S362.667,133.188,362.667,192C362.667,243.188,326.604,286.563,277.333,296.542z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#3498DB" />
            </svg>
        </div>


        <div class="contenido">
            <textarea id="contenido" name="contenido" placeholder="Nueva Publicación*"
                [ngClass]="{'border-red': (submitted && f.contenido.errors && f.contenido.errors.required)}"
                formControlName="contenido" required> </textarea>
        </div>

        <div class="boton">
            <button type="submit" class="btn" (click)="onSubmit()">Publicar</button>
        </div>

        <div class="class color-red full-container" *ngIf="submitted && createPostForm.invalid">
            *Los campos remarcados con rojo son requeridos para continuar
        </div>


    </form>
</div>