<div class="listaPublicaciones">

    <div class="feedP1">
        <div class="feedGrande">
            <div class="fullFeed">
                <h3 class="color-gray"> {{feed[0].titulo}} </h3>
            </div>
        </div>

        <div class="feedDividido">
            <div class="cuartoDeFeed">
                <h3 class="color-gray"> {{feed[1].titulo}} </h3>
            </div>
            <div class="cuartoDeFeed">
                <h3 class="color-gray"> {{feed[2].titulo}} </h3>
            </div>
            <div class="cuartoDeFeed">
                <h3 class="color-gray"> {{feed[3].titulo}} </h3>
            </div>
            <div class="cuartoDeFeed">
                <h3 class="color-gray"> {{feed[4].titulo}} </h3>
            </div>
        </div>
    </div>

    <div class="fulldivider"></div>

    <div class="feedP2">
        <div class="publicacion" *ngFor="let pub of feed; let i = index">
            <div class="full" *ngIf="i >= 5">
                <div class="imagenPublicacion">
                    <img id="imagen">
                </div>
                <div class="detallePublicacion">
                    <h3 class="color-gray"> Nombre Publicación </h3>
                    <p class="color-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at accumsan
                        elit. In sit amet odio ultricies, laoreet enim et, cursus nunc. <p>

                </div>
            </div>
        </div>
    </div>

</div>