div.publicacion {
    width: 70vw;
  
    div {
      display: flex;
      align-items: center;
    }  
    div.contenido {
      justify-content: flex-end;
      margin-bottom: 2em;
    }
  }
  
  div.full-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.75rem 0;
  }
  
  input, select {
    height: 2.5em !important;
    flex-grow: 1;
    width: calc(100% - 2em);
    font-weight: bold;
    border: hidden;
  }
  textarea {
    height: 25vh;
    flex-grow: 1;
    enable-background: fa;
    font-size: 1em;
  }
  textarea:disabled,
  textarea[disabled]{
    background-color: #caf6fa;
  }

 input:disabled,
  input[disabled]{
    background-color: #caf6fa;
  }
  select, input{
    font-size: 1.5em;
    
  }