div.listaEventos {
  width: 70vw;
  div.encabezado {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      width: 2vw;
      max-height: 2vw;
    }
  }

  div.editorEventos {
    display: flex;
    flex-direction: row;

    div.borde {
      display: flex;
      flex-direction: row;
      border: 3px solid grey;
      border-radius: 25px;
    }
    div.imagenEvento {
      flex-direction: column;
      border-right: 3px solid grey;
      justify-content: center;
      align-items: center;
      width: 18em;
      height: 9em;
      img#imagen {
        max-width: 100%;
        max-height: 100%;
      }
    }
    div.detalleEvento {
      margin-left: 1.5em;
      flex-direction: column;
      justify-content: stretch;
    
      
      h3{
        margin: 0;
        margin-top: .5em;
      }
     p{
       margin: 0;
       margin-top: .5em;
     }
      div.datosEvento {
        flex-direction: row;
        margin-top: .5em;
        display:flex ;
        align-items: center;
        flex-wrap: wrap;
     
        p{
          font-weight: bold;
          margin-left: .5em;
          font-size: .75em;
          margin-right: 1em;
        } 
       svg {
          width: 1vw;
          max-height: 1vw;
          margin: 0;
        }
      }
    }
    div.botonesEditarEvento {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1em;
      button#btnEditar {
        background-image: url("/assets/pencil.svg");
        margin-bottom: 0.5em;
      }

      button#btnEliminar {
        background-image: url("/assets/trash.svg");
      }
    }
  }
}

div.svg-container {
  width: 2.5em !important;
  height: 2.5em !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  svg {
    max-width: 1.5em;
    max-height: 1.5em;
  }
}

button {
  width: 3.5em;
  height: 3.5em;
  background-size: cover;
}

button:hover{
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
  background-size: cover;
}
