<div class="listaPublicaciones">
<h1 class="color-gray">Publicaciones</h1>
    <div class="feedP1">
        <div class="feedGrande">
            <div class="fullFeed">
                <h3 class="color-gray" (click)="consultarPublicacion(feed[0])"> {{feed[0].titulo}} </h3>
            </div>
        </div>

        <div class="feedDividido">
            <div class="cuartoDeFeed">
                <h3 class="color-gray" (click)="consultarPublicacion(feed[1])"> {{feed[1].titulo}} </h3>
            </div>
            <div class="cuartoDeFeed">
                <h3 class="color-gray" (click)="consultarPublicacion(feed[2])"> {{feed[2].titulo}} </h3>
            </div>
            <div class="cuartoDeFeed">
                <h3 class="color-gray" (click)="consultarPublicacion(feed[3])"> {{feed[3].titulo}} </h3>
            </div>
            <div class="cuartoDeFeed">
                <h3 class="color-gray" (click)="consultarPublicacion(feed[4])"> {{feed[4].titulo}} </h3>
            </div>
        </div>
    </div>

    <div class="fulldivider"></div>

    <div class="feedP2">
        <div class="publicacion" *ngFor="let pub of feed; let i = index">
            <div class="full" *ngIf="i >= 5">
                <div class="imagenPublicacion">
                    <img id="imagen">
                </div>
                <div class="detallePublicacion">
                    <h3 class="color-gray"> {{feed[i].titulo}} </h3>
                    <p class="color-gray">{{feed[i].contenido}}<p>
                    <a (click)="consultarPublicacion(feed[i])">Ver más...</a>
                </div>
            </div>
        </div>
    </div>


</div>
