@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$blue : #21B2EC;
$gray : #707070;

body, html{
    margin: 0;padding: 0;
}

*{
    font-family: 'Roboto', sans-serif;
    //: none !important;
}

.bg-blue{
    background: $blue;
}
.color-blue{
    color: $blue;
}
.bg-gray{
    background: $gray;
}
.color-gray{
    color: $gray;
}


.btn{
    background: $blue;
    border: 1.5px solid $blue;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background: none;
    color: $blue;
    border: 1.5px solid $blue;
    border-radius: 8px;
    
}
input,textarea{
    border: 1.5px solid $gray;
    border-radius: 10px;
    cursor: text;
    border-color: $gray;
    align-content: flex-start;

}


input::placeholder{
    padding: 1em;
    
}

router-outlet{
    z-index: 10;
}