@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$blue: #21b2ec;
$gray: #707070;

mat-form-field {
  width: 100%;
  flex-grow: 1;
}
.mat-form-field-wrapper {
  padding: 0 !important;
  .mat-form-field-flex {
    padding: 0 !important;
    background-color: transparent !important;
    flex-direction: row-reverse;
    align-items: center;

    .mat-form-field-infix {
      padding: 0;
      margin: 0;
      border: none;

      input {
        padding: 1px 1em;
        width: auto;
        flex-grow: 1;
        width: calc(100% - 2em - 3px);
        font-size: .8334em !important;
      }
    }

    svg {
      color: $blue;
    }
  }
  .mat-form-field-underline {
    display: none;
  }
}

mat-calendar {
  .mat-calendar-body-selected {
    background-color: $blue !important;
  }
}

ngx-material-timepicker-container{
    input{
        border: none !important;
    }
}

body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

* {
  font-family: "Roboto", sans-serif;
  outline: none !important;
}

.bg-blue {
  background: $blue;
}
.color-blue {
  color: $blue;
}
.bg-gray {
  background: $gray;
}
.color-gray {
  color: $gray;
}
.color-red{
 color: #f20000 !important;
}
.border-red{
  border-color: #f20000 !important;
}

.btn {
  background: $blue;
  border: 1.5px solid $blue;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background: none;
  color: $blue;
  border: 1.5px solid $blue;
  border-radius: 8px;
}
input,
textarea, select {
  border: 1.5px solid $gray !important;
  border-radius: 10px !important;
  border-color: $gray !important;
  padding: 1px 1em;
}
textarea {
  padding: 1em;
  resize: none;
}
span.placeholder{
  position: absolute;
  margin-left: 1em;
  z-index: -1;
  font-size: .86em;
  color: #757575;
}

div.outlet{
    padding: 5vh 15vw;
    background-image: url("assets/dibujo.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 23vh;
    background-position-x: 68vw;
    background-size: 70vh;
}
router-outlet {
  z-index: 10;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


a,button,input[type=submit], .pointer{
  cursor: pointer;
}